extends layout

block content
  h1= title
  
  h1 Categories

  div.cat-list
    each cat in category_list
      div.cat-item
        a(href=cat.url)
          div.cat-item-img
          span #{cat.name}
    else
      li There are no categories

  h1 Latest adverts
  ul(class="adverts-list")
    each advert in advert_list
      li
        a(href=advert.url) #{advert.title}
    else
      li There are no adverts
