extends layout

block content
  .search-cont.col-xs-12.col-sm-10.col-md-9.col-lg-8.col-xl-7
    form.form-inline(action="" method="post")
      div
        .search-box-icon
          img(src="/images/search.png")
      input.form-control(type="text" id="search" name="search" placeholder="znajdź coś dla siebie")
      input.btn(type="submit" value="Szukaj")
  h1 Kategorie

  .cat-list
    each cat in category_list
      .cat-item
        a(href=cat.url)
          .cat-item-img
            img(src=cat.img)
          span #{cat.name}
    else
      li There are no categories

  h1 Ostatnie ogłoszenia
  .adverts-list
    each advert in advert_list
      .advert-item
        a(href=advert.url)
          .advert-item-img
            img(src="/images/picture.png")
          span #{advert.title}
    else
      div There are no adverts
