extends layout

block content
  .search-cont.col-xs-12
    form.form-inline(action="" method="post")
      div
        .search-box-icon
          img(src="/images/search.png")
      input.form-control(type="text" id="search" name="search" placeholder="znajdź coś dla siebie")
      input.btn(type="submit" value="Szukaj")
  h1 Kategorie

  .cat-list
    each cat in category_list
      .cat-item
        a(href=cat.url)
          .cat-item-img
            img(src=cat.img)
          span #{cat.name}
    else
      li There are no categories

  h1 Ostatnie ogłoszenia
  ul(class="adverts-list")
    each advert in advert_list
      li
        a(href=advert.url) #{advert.title}
    else
      li There are no adverts
